---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Products">
  <section class="page">
    <h1>Products</h1>

    <div class="links">
      <a href="https://gumroad.com" target="_blank">Gumroad</a>
      <a href="https://jinxxy.com" target="_blank">Jinxxy</a>
      <a href="https://ko-fi.com" target="_blank">Ko-fi</a>
    </div>
  </section>
</BaseLayout>
