---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title ?? "Rainbow's Creations"} description={description ?? ""} />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <script src="/proximityGlow.js" defer></script>
  </body>
</html>
